<div class="flex flex-col w-full bg-gray-50">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-10 space-y-16">
        <!-- About Me -->
        <section class="bg-white p-6 rounded-2xl shadow-md">
            <h2 class="text-center text-4xl sm:text-5xl font-bold text-gray-900 mb-6">About Me ....!</h2>
            <hr class="border-t mb-6">
            <figure class="space-y-6 text-justify text-gray-700 leading-relaxed">
                <p>
                    Hello! I’m <span class="font-semibold italic text-gray-900">Mohan</span>, a passionate and dedicated
                    <span class="font-semibold italic text-gray-900">Full Stack Developer</span> with a solid foundation
                    in
                    <span class="font-semibold italic text-gray-900">Electronics and Communication Engineering (BE in
                        ECE)</span>
                    and over <span class="font-semibold italic text-gray-900">1.2 years of professional
                        experience</span>
                    in <span class="font-semibold italic text-gray-900">web development</span>.
                </p>
                <p>
                    I thrive on creating user-friendly, dynamic, and visually appealing websites that exceed client
                    expectations.
                </p>
                <p>
                    Skilled in <span class="font-semibold italic text-gray-900">HTML, CSS, Tailwind CSS, and
                        Angular</span>, with back-end experience in
                    <span class="font-semibold italic text-gray-900">NestJS and MySQL</span>. I adapt fast to new
                    technologies and trends.
                </p>
                <p>
                    Here’s what sets me apart:
                </p>
                <ul class="list-disc list-inside ml-4 space-y-1">
                    <li>A resourceful mindset that ensures high productivity and efficiency.</li>
                    <li>Commitment to delivering innovative, client-focused solutions.</li>
                    <li>A blend of technical expertise and creativity that brings ideas to life.</li>
                </ul>
            </figure>
        </section>

        <!-- Skills and Expertise -->
        <section class="bg-white p-6 rounded-2xl shadow-md">
            <h2 class="text-center text-4xl sm:text-5xl font-bold text-gray-900 mb-6">Skills and Expertise</h2>
            <hr class="border-t mb-6">

            <div class="grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-4 gap-10 place-items-center">
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/HTML.png" alt="HTML">
                    <p class="mt-2 text-sm font-medium text-gray-700">HTML</p>
                </div>
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/CSS.png" alt="CSS">
                    <p class="mt-2 text-sm font-medium text-gray-700">CSS</p>
                </div>
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/Tailwind.png" alt="Tailwind CSS">
                    <p class="mt-2 text-sm font-medium text-gray-700">Tailwind CSS</p>
                </div>
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/Angular.png" alt="Angular">
                    <p class="mt-2 text-sm font-medium text-gray-700">Angular</p>
                </div>
            </div>

            <div class="mt-10 grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-4 gap-10 place-items-center">
                <div class="col-span-2 lg:col-span-1"></div>
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/postgresql.png" alt="PostgreSQL">
                    <p class="mt-2 text-sm font-medium text-gray-700">PostgreSQL</p>
                </div>
                <div class="flex flex-col items-center col-span-2 lg:col-span-1">
                    <img class="max-h-12 w-full object-contain" src="assets/nestjs.png" alt="Nest JS">
                    <p class="mt-2 text-sm font-medium text-gray-700">Nest JS</p>
                </div>
                <div class="col-span-2 lg:col-span-1"></div>
            </div>
        </section>

        <!-- Education -->
        <section class="bg-white p-6 rounded-2xl shadow-md">
            <h2 class="text-center text-4xl sm:text-5xl font-bold text-gray-900 mb-6">Education</h2>
            <hr class="border-t mb-6">

            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 text-gray-700">
                <div class="space-y-2">
                    <p class="text-sm text-gray-500">2019 - 2023</p>
                    <h3 class="text-lg font-semibold">AMC Engineering College</h3>
                    <p class="text-sm">B.E, ECE, [ 7.8 CGPA ]</p>
                </div>
                <div class="space-y-2">
                    <p class="text-sm text-gray-500">2017 - 2019</p>
                    <h3 class="text-lg font-semibold">GR PU College</h3>
                    <p class="text-sm">PUC, Karnataka Pre-University, [ 79.17% ]</p>
                </div>
                <div class="space-y-2">
                    <p class="text-sm text-gray-500">2017</p>
                    <h3 class="text-lg font-semibold">GR International School</h3>
                    <p class="text-sm">SSLC, CBSE, [ 9.4 CGPA ]</p>
                </div>
            </div>
        </section>

        <!-- Experience -->
        <section class="bg-white p-6 rounded-2xl shadow-md pb-20">
            <h2 class="text-center text-4xl sm:text-5xl font-bold text-gray-900 mb-6">Experience</h2>
            <hr class="border-t mb-6">

            <div class="space-y-6">
                <p class="text-sm text-gray-500">
                    JUL 2023 – SEP 2024 (<span class="font-semibold italic text-gray-900">1.2 Years of
                        Experience</span>)
                </p>
                <div class="flex items-center gap-x-4">
                    <img class="max-h-12 object-contain" src="assets/HOLO.png" alt="HOLO">
                    <span class="text-lg font-medium">Hobbies Lobbies</span>
                </div>
                <ul class="list-disc list-inside ml-4 space-y-2 text-justify">
                    <li>Developed and maintained Angular applications with TypeScript, HTML, CSS, and JavaScript.</li>
                    <li>Integrated APIs and ensured seamless data flow between frontend and backend systems.</li>
                    <li>Implemented responsive designs using media queries for cross-device compatibility.</li>
                    <li>Improved web performance using frontend best practices.</li>
                    <li>Resolved backend issues and enhanced API performance.</li>
                </ul>
            </div>
        </section>

    </div>
</div>