<div class="flex flex-col flex-auto w-full page-background">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-4">
    <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-4">
      <div
        class="xl:col-span-2 flex flex-col flex-auto card-color bg-card shadow rounded-2xl overflow-hidden mb-18 mb-18">
        <div class="p-6 flex items-center">
          <div class="mx-auto -mt-2 px-20">
            <section class="relative isolate overflow-hidden bg-white mt-5">
              <div class="mx-auto">
                <div class="relative isolate px-6 pb-14 lg:px-8">
                  <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
                  </div>
                  <div class="mx-auto max-w-2xl py-6">
                    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                      <div
                        class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                        Everything in a Single Page.
                      </div>
                    </div>
                    <div class="border-t mt-4 mb-2"></div>
                    <div class="text-center">
                      <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Download
                        My Resume Now</h1>
                        <div class="border-t mt-4 mb-2"></div>
                      <div class="hidden sm:flex sm:justify-center pt-10">
                        <button mat-stroked-button
                          class="relative rounded-full text-sm/6 text-black bg-white ring-1 ring-gray-900/10 tracking-[1rem] custom-list-item"
                          style="border-radius: 50px;" (click)="openPdf()">
                          Download
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                    aria-hidden="true">
                    <div
                      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>